* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  line-height: 20px;
  font-size: 16px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 0 auto;
}

.header {
  box-sizing: border-box;
  display: flex;
  height: 10vh;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 30px 80px 0 80px;
}

.logo {
  height: 60px;
  width: 196px;
}

.nav {
  width: 100%;
  display: flex;
  width: fit-content;
  z-index: 10;
}

.nav__links {
  display: flex;
  column-gap: 30px;
  list-style: none;
  justify-self: flex-end;
}

.nav__link {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.nav__link:hover {
  color: #1f69c9;
}

.intro {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 60px 0 80px;
  margin-top: 60px;
  margin-bottom: 30px;
}

.intro__main {
  display: flex;
  align-items: center;
  height: 80%;
  margin-bottom: 50px;
}

.intro__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro__title {
  font-size: 66px;
  line-height: 76px;
  font-weight: 500;
  width: 100%;
}

.intro__description {
  font-size: 20px;
  line-height: 30px;
  width: 80%;
}

.intro__image {
  width: 45vw;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 600px;
  max-width: 600px;
}

.intro__footer {
  display: flex;
  width: 100%;
  height: 20%;
  padding: 40px 20px 20px 0;
  align-items: center;
  justify-content: space-between;
}

.intro__link {
  color: #2f80ed;
  text-decoration: none;
}

.intro__link:hover {
  color: #1f69c9;
}

.intro__address {
  margin: 0;
  color: #838383;
}

.events {
  padding: 100px 0 120px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
}

.events__content {
  flex-basis: 580px;
}

.events__heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.events__title {
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
  margin-top: 32px;
}

.events__info-section {
  margin-top: 32px;
}

.event-info__item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  font-weight: 500;
}

.event-info__icon {
  background-repeat: no-repeat;
  background-position: fill;
  margin-right: 12px;
  width: 24px;
  height: 24px;
}

.event-info__icon_type_calendar {
  background-image: url(../images/icon_calendar.svg);
}

.event-info__icon_type_pin {
  background-image: url(../images/icon_pin.svg);
}

.event-info__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}

.events__description {
  margin: 40px 0 60px;
}

.events__more {
  color: #2f80ed;
  text-decoration: none;
}

.events__more:hover {
  color: #1f69c9;
}

.events__cover {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 780px;
  max-width: 780px;
  position: relative;
}

.events__image {
  max-width: 100%;
}

.person {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.person_name_feynman {
  top: -30px;
  left: 319px;
}

.person_name_burbidge {
  top: 96px;
  right: 125px;
}

.person_name_cannon {
  right: 216px;
  bottom: 18px;
}

.person_name_mitchell {
  bottom: 82px;
  left: 142px;
}

.person_name_tarter {
  top: 79px;
  left: 159px;
}

.person__image {
  max-width: 100%;
}

.person__image_size_l {
  width: 140px;
}

.person__image_size_m {
  width: 100px;
}

.person__image_size_s {
  width: 80px;
}

.person__caption {
  text-align: center;
  font-size: 14px;
}

.staff {
  padding: 100px 0 140px;
  background-image: url("../images/staff_picks_background.jpg");
  background-size: cover;
}

.staff__title {
  text-align: center;
  font-size: 44px;
  line-height: 52px;
  margin-bottom: 24px;
  color: #fff;
}

.staff__subtitle {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #fff;
}

.staff__cards {
  max-width: 760px;
  margin: 68px auto 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  list-style: none;
}

.card {
  background-color: #fff;
  border-radius: 6px;
  padding: 32px 40px 20px 32px;
  height: 420px;
  width: 360px;
}

.card__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card__title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}

.card__text {
  margin: 20px 0 0;
  font-size: 16px;
  line-height: 24px;
}

.card__footer {
  margin: auto 0 0;
  font-size: 14px;
  line-height: 20px;
  color: #838383;
}

.membership {
  padding: 100px 0 140px;
  background-color: #f2f2f2;
}

.membership__title {
  max-width: 574px;
  margin: 0 auto;
  text-align: center;
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
}

.membership__steps {
  list-style-type: none;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.step {
  flex-basis: 220px;
}

.step__title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.step__icon {
  margin-left: 20px;
}

.step__description {
  margin-top: 10px;
}

.about {
  padding: 100px 80px;
  background-color: #1f1f1f;
  color: #fff;
  overflow: hidden;
  position: relative;
  display: flex;
}

.about__title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  z-index: 1;
  display: inline;
  max-width: 154px;
}

.about__content {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  max-width: 660px;
  z-index: 1;
  margin-left: 120px;
}

.about__paragraph {
  margin-bottom: 32px;
}

.about__paragraph:last-of-type {
  margin-bottom: 0;
}

.about__circle {
  background-color: #2f80ed;
  width: 495px;
  height: 495px;
  border-radius: 50%;
  position: absolute;
  left: -91px;
  top: -121px;
}

.footer {
  background-color: #1f1f1f;
  color: #fff;
  padding: 60px 102px 60px 80px;
  line-height: 20px;
  font-size: 16px;
}

.footer__columns {
  display: flex;
}

.footer__column_content_hours {
  margin-left: auto;
}

.footer__column_content_social {
  margin-left: 100px;
}

.footer__logo {
  width: 116px;
  height: 21px;
}

.footer__list {
  list-style-type: none;
}

.footer__list-item {
  margin-top: 20px;
}

.footer__list-item:last-of-type {
  margin-top: 16px;
}

.footer__column-link {
  color: white;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.footer__column-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  display: inline;
}

.footer__copyright {
  margin: 108px 0 0;
}
